aiofiles==0.7.0
aiohttp==3.8.1
aiosignal==1.2.0
async-timeout==4.0.2
asynctest==0.13.0
attrs==21.4.0
backports.zoneinfo==0.2.1
beautifulsoup4==4.11.1
configparser==5.2.0
dateparser==1.1.1
etelemetry==0.3.0
fake-useragent==0.1.11
fake_user_agent==0.0.15
filelock==3.7.1
PyMuPDF==1.16.14
httplib2==0.20.4
pathlib==1.0.1
random-user-agent==1.0.1
redis==4.3.3
requests
simplejson==3.17.6
soupsieve==2.3.2.post1
urllib3
